// RCS: @(#) $Id: spawndrv.rc,v 1.1.2.2 2001/10/12 01:26:09 davygrvy Exp $

#include <winver.h>
#include "tcl.h"
#include "exp_version.h"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION	    EXP_MAJOR_VERSION,EXP_MINOR_VERSION,EXP_RELEASE_LEVEL,EXP_RELEASE_SERIAL
    PRODUCTVERSION  EXP_MAJOR_VERSION,EXP_MINOR_VERSION,EXP_RELEASE_LEVEL,EXP_RELEASE_SERIAL
    FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#if DEBUG
    FILEFLAGS	    VS_FF_DEBUG
#else
    FILEFLAGS	    VS_FF_PRERELEASE   /* 0x0L */
#endif
    FILEOS	    VOS__WINDOWS32
    FILETYPE	    VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" /* LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP */
        BEGIN
            VALUE "FileDescription", "Spawn Driver helper application for overseeing Win32 consoles.\0"
            VALUE "OriginalFilename", "spawndrv.exe\0"
            VALUE "CompanyName", "Telindustrie, LLC\0"
            VALUE "FileVersion", EXP_PATCH_LEVEL "\0"
            VALUE "LegalCopyright", "Copyright \251 Telindustrie, LLC 2001\0"
            VALUE "ProductName", "Expect " EXP_VERSION " for Win32\0"
            VALUE "ProductVersion", EXP_PATCH_LEVEL "\0"
	    VALUE "Comments", "Expect was written for Unix by Don Libes at NIST.\r\n" "Gordon Chaffee ported it to WinNT for Mitel Corporation in 1997.\r\n" "David Gravereaux merged Gordon's port back into the official sources for Telindustrie LLC in Oct. 2001.\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


// Include the Message Table that lists the error codes and textual replies.
// This is output from the message compiler and found in the temp build directory.
#include "spawndrvmc.rc"
